#footer{
    padding: 50px 0px 0px;
    background-color: #5E7DEF;
    position: relative;
    color: #FFF;
}




#footer .nav-footer .nav-item .nav-link{
    color: #FFF;
    border-radius: 3px;
}

#footer .nav-footer .nav-item .nav-link:hover{
    background: rgba(0, 0, 0, 0.13);
    color: #FFF;
}

#footer .tagger-copyright{
    padding: 50px 0px 10px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #FFF;
    position: relative;
    bottom: 0px;
}




s